<div class="cube">
  <img class="cube" src="/static/images/{{imageUrl}}" />
  <p class="name">{{name}}</p>
  <p><span>Price:</span> {{price}}</p>
  <div class="btn-group">
    <a class="btn" href="/details/{{id}}">Details</a>
    <button class="btn more">Show more</button>
  </div>
  <div class="description"><p>{{description}}</p></div>
</div>